<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}HistoryLink{% end %}</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/static/css/base.css">
    <link type="text/css" rel="stylesheet" href="/static/css/extra.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.js"><\/script>')</script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript">
        if(typeof String.prototype.trim !== 'function') {
        String.prototype.trim = function() {
            return this.replace(/^\s+|\s+$/g, '');
        }
    }
    </script>

    {% block head %}{% end %}
</head>
<body>
<div id="SiteContainer">

    <div id="headercolumn" class="columntab">
        <header>

            <div class="container">
                <h1 class="logo one-third column alpha">
                    <a href="http://{{ request.host }}" title="HistoryLink">
                        <img src="/static/images/HistoryLink5.png" alt="HistoryLink" class="scale-with-grid" style="padding-left: 30px;"/>
                        <img src="/static/images/HistoryLink5sm.png " alt="HistoryLink" class="scale-with-grid mobile-only"/>
                    </a>
                </h1>
                <nav class="menu two-thirds column omega">

                    <ul class="nav" style="margin-left: -2px!important;">
                        <li><a href="/history">Find History<br/><span style="color: #888">Investigate your History</span></a></li>

                        <li><a href="/projects">Add Projects<br/><span style="color: #888">View and Add Projects</span></a></li>
                        <!--
                        <li><a href="/logout">Logout</a></li>
                        -->
                    </ul>
                </nav>


            </div>
            <div class="bottom-gradient ">
                <span class="left"></span>
                <span class="center"></span>
                <span class="right"></span>
            </div>

        </header>
    </div>
    <div style="padding-top: 70px;"></div>

    <noscript>
        <div style="color:red;padding:100px;font-size:3em;">
            You need to enable JavaScript to experience the wonder of this site!
        </div>
    </noscript>

    <div id="page" class="columntab">
        {% block top %}{% end %}
        {% if error_message %}
        <div id="error"><div>{{ error_message }}</div></div>
        {% end %}
        <div id="sendmessage" style="margin-top: 20px;"></div>

        <div style="margin-right: 30px;">
            <span><br/><strong>Identify personal links to history by comparing your ancestors to <a href="http://www.geni.com/projects" target="_blank">Geni projects</a>.</strong></span>
            <span style="float: right; margin-right: 15px;"><strong><a href="http://www.geni.com/projects/HistoryLink/14021" target="_blank">Follow HistoryLink Project</a></strong></span>
            {% block body %}{% end %}
        </div>



    </div>

    {% block bottom %}{% end %}
    <div id="copyright" class="columntab">
        <div class="terms" style="margin-right: 35px;"><br/>
            <table style="width:100%;"><tr><td style="width:205px;">
                <div style='width:200px;text-align:center'><iframe src='http://www.geni.com/trends/world_tree_badge' width='200' height='55' scrolling='no' frameborder='0'></iframe><div style='font-family:Arial,Helvetica,sans-serif;font-size:10px'>Join the worlds largest <a href='http://www.geni.com'>family tree</a></div></div></td>
            <td style="text-align: right; vertical-align: text-top;">
                <font size="2"><strong>Disclaimer: HistoryLink uses the Geni API but is not endorsed, operated, or sponsored by Geni, Inc.</strong></font>
                <br/><br/>
                <a href="http://www.geni.com/company/privacy">Privacy Policy</a> |
                <a href="http://www.geni.com/company/terms_of_use">Terms of Use</a> |
                {% if current_user %}<a href="/logout">Logout</a>{% else %}<a href="/login">Login</a>{% end %}
            </td></tr></table>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    var canvas = window.top.document.getElementById("app_content_frame");
    if (canvas != null) {
        canvas.style.height = document.getElementById("SiteContainer").offsetHeight + "px";
    }
</script>
</body>
</html>
