{% for item in matches %}
<table style="width: 100%;">
    <tr>
        <td style="width: 50%" align="left">
            <a href='http://www.geni.com/{{item["id"]}}' target="_blank">{{item["name"]}}</a> {% if who %}is your{%else%}&nbsp;&mdash;&nbsp;{%end%} {{item["relation"]}}<br/>
        </td>
        <td style="width: 50%" align="right">
            {% for idx,project in enumerate(item["projects"]) %}
            {% if idx > 0 %}
            <br/>
            {% end %}
            {% if project %}<a href='http://www.geni.com/project-{{project["id"]}}' target="_blank">{{project["name"]}}</a>{% else %}{{item["message"]}}{% end %}
            {% end %}
        </td></tr>
</table>
<div class="separator"></div>
{% end %}
