{% extends "base.html" %}
{% block body %}
<script language="javascript" type="text/javascript">
    var running = false;
    window.onunload=function() {
        $.post('/historycount');
    }
    setInterval(function(){
        if (running) {
            $('#historycount').load('/historycount');
        }
    }, 5000);
    function stopHistory() {
        running = false;
        document.getElementById("processing").innerHTML = '';
        var statusval = document.getElementById("statustext").innerHTML;
        document.getElementById("statustext").innerHTML = statusval.replace("Researching","Researched");
        $.post('/historycount');
    }
    function runHistory() {
        if (running == false) {
            running = true
            document.getElementById("processing").innerHTML = '<center><img src="/static/images/processing.gif" style="margin-bottom: -23px;"></center>';
            //requestInventory();
            //$('#historylist').load('/historylist');
            document.getElementById("historylistresults").innerHTML = "";
            masterval = document.getElementById("master").checked;
            $('#historycount').load('/historycount?status=start');
            $.get('/historyprocess', {"profile": "{{userid}}", "master": masterval});
        }
    }
    function updateHistory() {
        var hresult = "";
        $.get('/historylist', function(data) {
            document.getElementById("historylistresults").innerHTML = data;
        });
    }
    function changeUser() {
        $('.slideDown').slideToggle();
    }
    function masterHelp() {
        $('.slideDown2').slideToggle();
    }
    function handleChange(cb) {
        if (cb.checked) {
            document.getElementById("mpnote").style.display = "inline";
        } else {
            document.getElementById("mpnote").style.display = "none";
        }
    }
    function submitProfile() {
        var profile_id = document.getElementById("userfield").value.toString();
        if (profile_id.length > 0) {
            if (profile_id.indexOf("/") != -1) {
                //Grab the GUID from a URL
                profile_id = "profile-g" + profile_id.substring(profile_id.lastIndexOf('/')+1);
            }
            if (profile_id.indexOf("?") != -1) {
                //In case the copy the profile url by navigating through another 6000000002107278790?through=6000000010985379345
                profile_id = profile_id.substring(0, profile_id.lastIndexOf('?'));
            }
            if (profile_id.indexOf("#") != -1) {
                //In case the copy the profile url by navigating in tree view 6000000001495436722#6000000010985379345
                profile_id = "profile-g" + profile_id.substring(profile_id.lastIndexOf('#')+1, profile_id.length);
            }
            if (profile_id.indexOf("profile-") != -1) {
                window.location.href = "/history?profile=" + profile_id;
            } else {
                alert("This does not appear to be a valid Geni profile id.\nPlease use the numeric id or the full URL of the profile.");
            }
        }
        return
    }
</script>
<br/><br/>
<div class="shadoweffect-business">
    Note: The <a href="http://www.geni.com/platform/developer/" target="_blank">Geni API</a> limits applications (this website for all users) to 40 queries every 10 seconds.
    Since investigating your tree history (and others) could involve <a href="https://www.youtube.com/watch?v=BhtgINeaJWg&feature=share" target="_blank">exponential queries</a>, please be patient.  The page will update automatically with progress every 5 seconds.
    <br/><br/>
    While it is common to be related to the same ancestor via different pathways, HistoryLink will only report an ancestor once.  <a href="https://www.geni.com/account_settings/premium_account">Geni Pro</a> members can view the step-by-step pathway to those ancestors.
</div>
<br/>
<center>
    <div style="margin-left: 32px;"><h1>History Link for {{username}}<img src="/static/images/user1.png" style='margin-bottom: -3px; padding-left: 2px; cursor:pointer;' onclick='changeUser()' title="Change Focus Person" alt="Change Focus Person"></h1></div>
    <div style="margin-top: 10px;"><table><tr><td style="padding-top: 3px;"><input type="checkbox" id="master" onchange='handleChange(this);'></td><td valign="center" style="padding-bottom: 2px;">Include <a href="http://wiki.geni.com/index.php/Master_Profile" target="_blank">Master Profiles</a> in Search Results
        <img src="/static/images/masterhelp.png" style="padding-left: 1px; margin-bottom: 2px; cursor:pointer;" title="Master Profile Tip" alt="Master Profile Tip" onclick='masterHelp()'></td></tr></table></div>
    <div class="slideDown2" style="display: none; font-size: x-small; min-width: 380px; max-width:650px; text-align: left;">The designation of Master Profile can be a weak association to historical significance.  It is an indication of quality and often a common profile for joining family trees (merges).
        Including Master Profiles in search results may find profiles that have not yet been included in our projects, but could also produce false positives for historic notability and will increase the search time.</div>
    <div style="margin-top: 10px; margin-bottom: -6px;"><div class="slideDown" style="display: none; padding-bottom: 15px;"><input style="height: 24px; width: 200px;" id="userfield" onkeypress="entsub(event,this.form);" /><button style="margin-left: 8px;" onclick="submitProfile();">Change Person</button></div></div>
    <table><tr><td>
        <div style="display:block; margin-top: 8px; padding-right: 10px;">
            <button align="MIDDLE" onClick="runHistory();" class="cta cta-green">Start Search</button></div>
    </td>
        <td>
            <div style="display:block; margin-top: 8px; padding-left: 10px;">
                <button align="MIDDLE" onClick="stopHistory();" class="cta cta-red">Stop Search</button></div>
        </td></tr></table>

    <br/>
</center>
<div class="shadoweffect-business">
    <div style="padding-left: 30px; padding-right: 30px;">
        <div style="text-align: center" id="statustext"></div>
        <div id="historycount"></div>
        <div id="processing"></div>
        <div style="margin-left: 1px; float: left;"><strong>Ancestors</strong></div><div style="margin-right: 3px; float: right;"><strong>Projects<div id="mpnote" style="display: none;"> / MP</div></strong></div><br/><hr/>
        <div id="historylistresults"></div>
    </div>
    <div id="count"></div>
</div>
<br/>
{% end %}