{% extends "base.html" %}
{% block body %}
<br/><br/>
<div class="shadoweffect-business">
    <h2>Are your ancestors famous historical figures?</h2><br/>
    HistoryLink will compare your direct ancestors (and their siblings) to projects on Geni that focus on historical or
    famous individuals. It will list any matches found, the relation, and what projects they belong to. It can also
    search for master profiles, problem profiles, and can create a simple visualization of tree completeness. Note that not
    being connected to the <a href="http://www.geni.com/worldfamilytree">world family tree</a> will severely limit the
    potential for ancestor matches.
    <br/><br/>

    <div style="padding-left: 30px; padding-right: 30px;">
        <div style="margin-left: 1px; float: left;"><strong>Ancestor (Example)</strong></div><div style="margin-right: 3px; float: right;">Projects</div><br/><hr/>

        <table style="width: 100%;">
            <tr>
                <td style="width: 50%" align="left">
                    <a href="http://www.geni.com/people/6000000001495436722">Stephen Hopkins, "Mayflower" Passenger</a> is your 11th Great Grandfather
                </td>
                <td style="width: 50%" align="right">
                    <a href="http://www.geni.com/projects/Great-Migration-Passengers-of-the-Mayflower-1620/8">Great Migration: Passengers of the Mayflower, 1620</a>
                </td></tr>
        </table>
        <div class="separator"></div>
        <table style="width: 100%;">
            <tr>
                <td style="width: 50%" align="left">
                    <a href="http://www.geni.com/people/5597380726000028489">William the Conqueror, King of England</a> is your 18th Great Grandfather
                </td>
                <td style="width: 50%" align="right">
                    <a href="http://www.geni.com/projects/Historic-Sussex/12834">Historic Sussex</a>, <a href="http://www.geni.com/projects/Battle-of-Hastings/1003">Battle of Hastings</a>
                </td></tr>
        </table>
        <div class="separator"></div>

    </div>
    <br/><br/>
    <div>Send me a message if you have any issues or suggestions,<br/>
        <div style="display:block; margin-top: 20px; float: right;">
            <button align="MIDDLE" onClick="location.href='/history'" class="cta cta-green">Get Started!</button></div>

        <a href="http://www.geni.com/profile-16675621"><img src="/static/images/signature.png" style="padding-top: 5px;"></a>
    </div>
</div>
{% end %}