<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Famous Link - Geni
    </title>
    <meta name="description" content="FamousLink" /><meta name="keywords" content="" /><meta name="viewport" content="width=device-width" />
    <script>
        window.top.location = "{% raw oauth_url %}";
    </script>

</head>

<body id="inner_body" class="inner_body">
redirecting to oauth...
</body>
</html>
